<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionDB" connectionString="Data Source=DESKTOP-J06CE20;Initial Catalog=Music-PlayerDB;Integrated Security=True;Pooling=False;Encrypt=True;Trust Server Certificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>